In [1]:
import pandas as pd
ds = pd.read_csv('Panel.csv') 

def extract_details(row):
    try:
        # Parse JSON
        data = json.loads(row['response'])
        
        # Extract line items
        line_items = data.get('data', {}).get('line_items', [])
        
        extracted_data = []
        for item in line_items:
            # Extract relevant fields
            extracted_data.append({
                'claim_data_id': row['claim_data_id'],
                'intimation_number': row['intimation_number'],
                'bill_item_name': item.get('data', {}).get('description', {}).get('value', ''),
                'vitraya_master_category': item.get('data', {}).get('vitraya_master_category', {}).get('value', ''),
                'tariff_item_name': item.get('data', {}).get('tariff', {}).get('tariff_line_item', ''),
                'hospital_charged_amount': item.get('data', {}).get('amount', {}).get('value', 0.0),
                'quantity': item.get('data', {}).get('quantity', {}).get('value', 0.0),
                'irdai_payable': item.get('data', {}).get('tariff', {}).get('irdai_payable', False),
                'admissible_amount': item.get('data', {}).get('tariff', {}).get('admissible_amount', 0.0)
            })
        
        return extracted_data
    except json.JSONDecodeError:
        return []


ds_extracted = ds.apply(extract_details, axis=1)
ds_expanded = pd.DataFrame([item for sublist in ds_extracted for item in sublist])

In [3]:
print(ds_expanded)

      claim_data_id  intimation_number  \
0             12736      1112485205093
1             12736      1112485205093
2             12736      1112485205093
3             12736      1112485205093
4             12736      1112485205093
...             ...                ...
1489          10996      1112485189493
1490          10996      1112485189493
1491          10996      1112485189493
1492          10996      1112485189493
1493          12767      1112485206140

                                         bill_item_name  \
0                                        Admission Fees
1                                                 I C U
2                                       Deluxe A/C Room
3                                 Special with A/C Room
4                                  Special Room Non A/C
...                                                 ...
1489  PHARMACY BILL (Department) : Bill :11582425/17173
1490  PHARMACY BILL (Department) : Bill :11582425/17175
1491  PHARMACY BILL (Department) : Bill :11582425/17266
1492      PHARMACY SALES RETURN : PHARMACY SALES RETURN
1493  As per Aditya Birla Package for PTERYGIUM AUTO...

        vitraya_master_category  \
0     Service Tax & Other Taxes
1       Medicines & Consumables
2                     Room Rent
3                     Room Rent
4                     Room Rent
...                         ...
1489  Service Tax & Other Taxes
1490  Service Tax & Other Taxes
1491  Service Tax & Other Taxes
1492    Medicines & Consumables
1493          Procedure Charges

                                       tariff_item_name  \
0                                        Admission Fees
1                                                 u dic
2                                 Delux Room AC/ NON AC
3                                General Room AC/NON AC
4                                General Room AC/NON AC
...                                                 ...
1489  PHARMACY BILL (Department) : Bill :11582425/17173
1490  PHARMACY BILL (Department) : Bill :11582425/17175
1491  PHARMACY BILL (Department) : Bill :11582425/17266
1492      PHARMACY SALES RETURN : PHARMACY SALES RETURN
1493                            Pterygium with Sutures

      hospital_charged_amount  quantity  irdai_payable  admissible_amount
0                        0.00       1.0          False               0.00
1                        0.00       1.0           True               0.00
2                     6000.00       3.0           True            6000.00
3                        0.00       1.0           True               0.00
4                        0.00       1.0           True               0.00
...                       ...       ...            ...                ...
1489                 43728.07       1.0           True           43728.07
1490                 14425.74       1.0           True           14425.74
1491                145818.63       1.0           True          145818.63
1492                  4340.45       1.0           True            4340.45
1493                 25000.00       1.0           True           15000.00

[1494 rows x 9 columns]

,claim_data_id,intimation_number,bill_item_name,vitraya_master_category,tariff_item_name,hospital_charged_amount,quantity,irdai_payable,admissible_amount
1,12736,1112485205093,I C U,Medicines & Consumables,u dic,0.00,1.0,True,0.00
16,12736,1112485205093,Catheter,Medicines & Consumables,Catheter,0.00,1.0,False,0.00
17,12736,1112485205093,Nebulizar,Medicines & Consumables,Nebulizar,0.00,1.0,True,0.00
18,12736,1112485205093,Oxygen,Medicines & Consumables,Oxygen,0.00,1.0,True,0.00
19,12736,1112485205093,BSL,Medicines & Consumables,BSL,0.00,1.0,True,0.00
...,...,...,...,...,...,...,...,...,...
1458,10996,1112485189493,TOURNIQUET PER CASE,Medicines & Consumables,TOURNIQUET PER CASE,600.00,1.5,True,600.00
1459,10996,1112485189493,WARMER (OT),Medicines & Consumables,WARMER (OT),200.00,1.0,True,200.00
1461,10996,1112485189493,DRESSING MEDIUM,Medicines & Consumables,DRESSING MEDIUM,260.00,1.0,True,260.00
1462,10996,1112485189493,I.V.INFUSION,Medicines & Consumables,i.v.injection,210.00,3.0,False,0.00
1492,10996,1112485189493,PHARMACY SALES RETURN : PHARMACY SALES RETURN,Medicines & Consumables,PHARMACY SALES RETURN : PHARMACY SALES RETURN,4340.45,1.0,True,4340.45

In [8]:
df = ds_expanded.copy()

In [20]:
# Step 1: Filter the data where 'vitraya_master_category' is 'Medicines & Consumables'
filtered_df = df[df['vitraya_master_category'] == 'Medicines & Consumables']

# Step 2: Group by 'claim_data_id' and sum the 'hospital_charged_amount'
total_charged_amount = filtered_df.groupby('claim_data_id')['hospital_charged_amount'].sum().reset_index()
total_charged_amount.columns = ['claim_data_id', 'hospital charged medicine item total amount']

# Step 3: Merge the total charges back to the original dataframe
df = pd.merge(df, total_charged_amount, on='claim_data_id', how='left')

# If 'total_hospital_charged_amount' is NaN for rows where 'vitraya_master_category' is not 'Medicines & Consumables', set it to 0
df['hospital charged medicine item total amount'].fillna(0, inplace=True)

In [21]:
df[(df['vitraya_master_category'] == 'Medicines & Consumables') & (df['claim_data_id'] == 10996)]

,claim_data_id,intimation_number,bill_item_name,vitraya_master_category,tariff_item_name,hospital_charged_amount,quantity,irdai_payable,admissible_amount,total_hospital_charged_amount_x,total_hospital_charged_amount_y,hospital charged medicine item total amount
1432,10996,1112485189493,ETO-SMALL POUCH,Medicines & Consumables,eto-small pouch,60.00,2.0,False,0.00,15780.45,15780.45,15780.45
1433,10996,1112485189493,PLASMA STERILIZATION CHARGES - SMALL TYVEC POUCH,Medicines & Consumables,PLASMA STERILIZATION CHARGES - SMALL TYVEC POUCH,1300.00,4.0,False,0.00,15780.45,15780.45,15780.45
1434,10996,1112485189493,STEAM STERILIZATION CHARGES LARGE SET,Medicines & Consumables,STEAM STERILIZATION CHARGES LARGE SET,600.00,4.0,False,0.00,15780.45,15780.45,15780.45
1435,10996,1112485189493,STEAM STERILIZATION CHARGES MEDIUM SET,Medicines & Consumables,STEAM STERILIZATION CHARGES MEDIUM SET,500.00,5.0,False,0.00,15780.45,15780.45,15780.45
1454,10996,1112485189493,"O.T GASES, O2",Medicines & Consumables,"o.t gases, o2",510.00,3.0,False,0.00,15780.45,15780.45,15780.45
1455,10996,1112485189493,SPACE SUIT (PERSONAL PROTECTION SUIT),Medicines & Consumables,SPACE SUIT (PERSONAL PROTECTION SUIT),7200.00,1.5,True,7200.00,15780.45,15780.45,15780.45
1458,10996,1112485189493,TOURNIQUET PER CASE,Medicines & Consumables,TOURNIQUET PER CASE,600.00,1.5,True,600.00,15780.45,15780.45,15780.45
1459,10996,1112485189493,WARMER (OT),Medicines & Consumables,WARMER (OT),200.00,1.0,True,200.00,15780.45,15780.45,15780.45
1461,10996,1112485189493,DRESSING MEDIUM,Medicines & Consumables,DRESSING MEDIUM,260.00,1.0,True,260.00,15780.45,15780.45,15780.45
1462,10996,1112485189493,I.V.INFUSION,Medicines & Consumables,i.v.injection,210.00,3.0,False,0.00,15780.45,15780.45,15780.45
1492,10996,1112485189493,PHARMACY SALES RETURN : PHARMACY SALES RETURN,Medicines & Consumables,PHARMACY SALES RETURN : PHARMACY SALES RETURN,4340.45,1.0,True,4340.45,15780.45,15780.45,15780.45

In [27]:
filtered_df = df[df['vitraya_master_category'] == 'Medicines & Consumables']

# Step 2: Group by 'claim_data_id' and sum the 'admissible_amount'
admissible_amount_total = filtered_df.groupby('claim_data_id')['admissible_amount'].sum().reset_index()
admissible_amount_total.columns = ['claim_data_id', 'admissible_amount_total_of_medicine_items']

# Step 3: Merge the total admissible amount back to the original dataframe
df = pd.merge(df, admissible_amount_total, on='claim_data_id', how='left')

# If 'admissible_amount_total_of_medicine_items' is NaN for rows where 'vitraya_master_category' is not 'Medicines & Consumables', set it to 0
df['admissible_amount_total_of_medicine_items'].fillna(0, inplace=True)

MergeError: Passing 'suffixes' which cause duplicate columns {'admissible_amount_total_of_medicine_items_x'} is not allowed.

In [28]:
# Step 1: Group by 'claim_data_id' and calculate totals
totals = df.groupby('claim_data_id').agg(
    total_hospital_charged_amount=pd.NamedAgg(column='hospital_charged_amount', aggfunc='sum'),
    total_admissible_amount=pd.NamedAgg(column='admissible_amount', aggfunc='sum')
).reset_index()

# Step 2: Merge the totals back to the original DataFrame
df = pd.merge(df, totals, on='claim_data_id', how='left')

print(df)

      claim_data_id  intimation_number  \
0             12736      1112485205093
1             12736      1112485205093
2             12736      1112485205093
3             12736      1112485205093
4             12736      1112485205093
...             ...                ...
1489          10996      1112485189493
1490          10996      1112485189493
1491          10996      1112485189493
1492          10996      1112485189493
1493          12767      1112485206140

                                         bill_item_name  \
0                                        Admission Fees
1                                                 I C U
2                                       Deluxe A/C Room
3                                 Special with A/C Room
4                                  Special Room Non A/C
...                                                 ...
1489  PHARMACY BILL (Department) : Bill :11582425/17173
1490  PHARMACY BILL (Department) : Bill :11582425/17175
1491  PHARMACY BILL (Department) : Bill :11582425/17266
1492      PHARMACY SALES RETURN : PHARMACY SALES RETURN
1493  As per Aditya Birla Package for PTERYGIUM AUTO...

        vitraya_master_category  \
0     Service Tax & Other Taxes
1       Medicines & Consumables
2                     Room Rent
3                     Room Rent
4                     Room Rent
...                         ...
1489  Service Tax & Other Taxes
1490  Service Tax & Other Taxes
1491  Service Tax & Other Taxes
1492    Medicines & Consumables
1493          Procedure Charges

                                       tariff_item_name  \
0                                        Admission Fees
1                                                 u dic
2                                 Delux Room AC/ NON AC
3                                General Room AC/NON AC
4                                General Room AC/NON AC
...                                                 ...
1489  PHARMACY BILL (Department) : Bill :11582425/17173
1490  PHARMACY BILL (Department) : Bill :11582425/17175
1491  PHARMACY BILL (Department) : Bill :11582425/17266
1492      PHARMACY SALES RETURN : PHARMACY SALES RETURN
1493                            Pterygium with Sutures

      hospital_charged_amount  quantity  irdai_payable  admissible_amount  \
0                        0.00       1.0          False               0.00
1                        0.00       1.0           True               0.00
2                     6000.00       3.0           True            6000.00
3                        0.00       1.0           True               0.00
4                        0.00       1.0           True               0.00
...                       ...       ...            ...                ...
1489                 43728.07       1.0           True           43728.07
1490                 14425.74       1.0           True           14425.74
1491                145818.63       1.0           True          145818.63
1492                  4340.45       1.0           True            4340.45
1493                 25000.00       1.0           True           15000.00

      total_hospital_charged_amount_x  total_hospital_charged_amount_y  \
0                                0.00                             0.00
1                                0.00                             0.00
2                                0.00                             0.00
3                                0.00                             0.00
4                                0.00                             0.00
...                               ...                              ...
1489                         15780.45                         15780.45
1490                         15780.45                         15780.45
1491                         15780.45                         15780.45
1492                         15780.45                         15780.45
1493                             0.00                              NaN

      hospital charged medicine item total amount  \
0                                            0.00
1                                            0.00
2                                            0.00
3                                            0.00
4                                            0.00
...                                           ...
1489                                     15780.45
1490                                     15780.45
1491                                     15780.45
1492                                     15780.45
1493                                         0.00

      admissible_amount_total_of_medicine_items_x  \
0                                            0.00
1                                            0.00
2                                            0.00
3                                            0.00
4                                            0.00
...                                           ...
1489                                     12600.45
1490                                     12600.45
1491                                     12600.45
1492                                     12600.45
1493                                         0.00

      admissible_amount_total_of_medicine_items_y  \
0                                            0.00
1                                            0.00
2                                            0.00
3                                            0.00
4                                            0.00
...                                           ...
1489                                     12600.45
1490                                     12600.45
1491                                     12600.45
1492                                     12600.45
1493                                          NaN

      admissible_amount_total_of_medicine_items  \
0                                          0.00
1                                          0.00
2                                          0.00
3                                          0.00
4                                          0.00
...                                         ...
1489                                   12600.45
1490                                   12600.45
1491                                   12600.45
1492                                   12600.45
1493                                       0.00

      total_hospital_charged_amount  total_admissible_amount
0                          36942.00                 33442.00
1                          36942.00                 33442.00
2                          36942.00                 33442.00
3                          36942.00                 33442.00
4                          36942.00                 33442.00
...                             ...                      ...
1489                      582288.91                578428.91
1490                      582288.91                578428.91
1491                      582288.91                578428.91
1492                      582288.91                578428.91
1493                       25000.00                 15000.00

[1494 rows x 17 columns]

In [32]:
 #Step 1: Calculate total hospital charged amount and total admissible amount for 'Medicines & Consumables'
med_consumables = df[df['vitraya_master_category'] == 'Medicines & Consumables']
med_consumables_totals = med_consumables.groupby('claim_data_id').agg(
    admissible_amount_total_of_medicine_items=pd.NamedAgg(column='admissible_amount', aggfunc='sum'),
    total_hospital_charged_amount_meds=pd.NamedAgg(column='hospital_charged_amount', aggfunc='sum')
).reset_index()

# Step 2: Calculate total hospital charged amount and total admissible amount for all items
all_items_totals = df.groupby('claim_data_id').agg(
    total_hospital_charged_amount_all=pd.NamedAgg(column='hospital_charged_amount', aggfunc='sum'),
    total_admissible_amount_all=pd.NamedAgg(column='admissible_amount', aggfunc='sum')
).reset_index()

# Step 3: Merge all totals into a single DataFrame
final_totals = pd.merge(med_consumables_totals, all_items_totals, on='claim_data_id', how='outer')

# Fill NaNs with 0 if necessary
final_totals.fillna(0, inplace=True)

    claim_data_id  admissible_amount_total_of_medicine_items  \
0           10996                                   12600.45
1           11267                                  419387.99
2           12095                                   10752.00
3           12154                                   21581.63
4           12217                                   55000.00
5           12407                                    8545.48
6           12423                                    3704.00
7           12429                                  240022.00
8           12473                                   14459.69
9           12499                                    8487.00
10          12537                                   16860.92
11          12587                                     549.80
12          12605                                    3590.60
13          12623                                   46644.11
14          12634                                     968.20
15          12708                                   13201.93
16          12722                                    5387.00
17          12733                                   30806.58
18          12736                                       0.00
19          12739                                   20920.00
20          12752                                    1777.48
21          12765                                   15716.00
22          12776                                   15308.75
23          12896                                   22955.00
24          10822                                       0.00
25          11706                                       0.00
26          12023                                       0.00
27          12250                                       0.00
28          12437                                       0.00
29          12552                                       0.00
30          12566                                       0.00
31          12767                                       0.00
32          12870                                       0.00

    total_hospital_charged_amount_meds  total_hospital_charged_amount_all  \
0                             15780.45                          582288.91
1                            448080.95                          986873.00
2                             10752.00                           57848.00
3                             31888.69                          164005.97
4                             55000.00                           56000.00
5                              9195.48                           80825.48
6                              3704.00                           17349.00
7                            240022.00                          290157.00
8                             24543.58                           73717.02
9                              8487.00                           21987.00
10                            22536.77                          101147.77
11                             1841.54                          149191.54
12                             5153.18                           32289.38
13                            48323.11                          218794.15
14                             1314.36                            1314.36
15                            14821.46                           38371.46
16                             5387.00                            5387.00
17                            35860.63                          244769.32
18                                0.00                           36942.00
19                            22420.00                           63630.00
20                             4386.11                           32706.11
21                            15716.00                           18366.00
22                            15308.75                          144141.20
23                            22955.00                          118792.00
24                                0.00                           69250.00
25                                0.00                           41580.00
26                                0.00                           42625.00
27                                0.00                          116000.00
28                                0.00                           39312.00
29                                0.00                           89975.00
30                                0.00                           62600.00
31                                0.00                           25000.00
32                                0.00                           53210.00

    total_admissible_amount_all
0                     578428.91
1                     920645.04
2                      54218.00
3                     148278.91
4                      55000.00
5                      78895.48
6                      15349.00
7                     289857.00
8                      53428.13
9                      21487.00
10                     94021.92
11                     88249.80
12                     26212.60
13                    189515.15
14                       968.20
15                     33887.93
16                      5387.00
17                    234075.27
18                     33442.00
19                     61130.00
20                     29587.48
21                     16716.00
22                    138646.20
23                    116842.00
24                     68750.00
25                     37980.00
26                     42625.00
27                    116000.00
28                     39262.00
29                     89525.00
30                     62400.00
31                     15000.00
32                     53210.00

In [33]:
final_totals

,claim_data_id,admissible_amount_total_of_medicine_items,total_hospital_charged_amount_meds,total_hospital_charged_amount_all,total_admissible_amount_all
0,10996,12600.45,15780.45,582288.91,578428.91
1,11267,419387.99,448080.95,986873.00,920645.04
2,12095,10752.00,10752.00,57848.00,54218.00
3,12154,21581.63,31888.69,164005.97,148278.91
4,12217,55000.00,55000.00,56000.00,55000.00
5,12407,8545.48,9195.48,80825.48,78895.48
6,12423,3704.00,3704.00,17349.00,15349.00
7,12429,240022.00,240022.00,290157.00,289857.00
8,12473,14459.69,24543.58,73717.02,53428.13
9,12499,8487.00,8487.00,21987.00,21487.00
10,12537,16860.92,22536.77,101147.77,94021.92
11,12587,549.80,1841.54,149191.54,88249.80
12,12605,3590.60,5153.18,32289.38,26212.60
13,12623,46644.11,48323.11,218794.15,189515.15
14,12634,968.20,1314.36,1314.36,968.20
15,12708,13201.93,14821.46,38371.46,33887.93
16,12722,5387.00,5387.00,5387.00,5387.00
17,12733,30806.58,35860.63,244769.32,234075.27
18,12736,0.00,0.00,36942.00,33442.00
19,12739,20920.00,22420.00,63630.00,61130.00
20,12752,1777.48,4386.11,32706.11,29587.48
21,12765,15716.00,15716.00,18366.00,16716.00
22,12776,15308.75,15308.75,144141.20,138646.20
23,12896,22955.00,22955.00,118792.00,116842.00
24,10822,0.00,0.00,69250.00,68750.00
25,11706,0.00,0.00,41580.00,37980.00
26,12023,0.00,0.00,42625.00,42625.00
27,12250,0.00,0.00,116000.00,116000.00
28,12437,0.00,0.00,39312.00,39262.00
29,12552,0.00,0.00,89975.00,89525.00
30,12566,0.00,0.00,62600.00,62400.00
31,12767,0.00,0.00,25000.00,15000.00
32,12870,0.00,0.00,53210.00,53210.00