In [4]:
import pandas as pd

In [5]:
# Load the data from Excel files
bills_data = pd.read_excel('Pharmacy python test(1).xlsx', sheet_name = 'Merge')
database_data = pd.read_excel('Pharmacy python test(1).xlsx' ,sheet_name = 'Main_Data')

In [39]:
import pandas as pd

# Load your data into pandas DataFrames
# Example loading (replace with your actual data loading code)
# bills_data = pd.read_csv('bills_data.csv')
# database_data = pd.read_csv('database_data.csv')

# Sample DataFrames for demonstration


# Define a function to perform the filtering for a specific row
def filter_database_for_row(bills_row):
    return database_data[
        (database_data['Medicine_Name_DB'] == bills_row['Medicine_Name_Bill']) &
        (database_data['Quantity_DB'] == bills_row['Quantity_Bill']) &
        (database_data['Dosage_DB'] == bills_row['Dosage_Bill'])
    ]

# Apply the filtering function to each row of bills_data
filtered_results = pd.concat([filter_database_for_row(row) for _, row in bills_data.iterrows()])

# Drop duplicate rows in case of overlaps
filtered_results = filtered_results.drop_duplicates()

# Optionally, you might want to select specific columns
filtered_results = filtered_results[['Medicine_Name_DB', 'Quantity_DB', 'Dosage_DB', 'Database_Rates']]

# Print or save the filtered data
print(filtered_results)
# Optionally save to a CSV
# filtered_results.to_csv('filtered_data.csv', index=False)

Empty DataFrame
Columns: [Medicine_Name_DB, Quantity_DB, Dosage_DB, Database_Rates]
Index: []

In [41]:
bills_data = bills_data.astype(str)
database_data = database_data.astype(str)

In [43]:

# Function to filter database_data based on a single row from bills_data using regex
def filter_database_with_regex(bills_row):
    medicine_pattern = f"^{bills_row['Medicine_Name_Bill']}$"
    quantity_pattern = f"^{bills_row['Quantity_Bill']}$"
    dosage_pattern = f"^{bills_row['Dosage_Bill']}$"
    
    return database_data[
        database_data['Medicine_Name_DB'].str.match(medicine_pattern) &
        database_data['Quantity_DB'].str.match(quantity_pattern) &
        database_data['Dosage_DB'].str.match(dosage_pattern)
    ]

# Apply the filtering function to each row of bills_data
filtered_results = pd.concat([filter_database_with_regex(row) for _, row in bills_data.iterrows()])

# Drop duplicate rows in case of overlaps
filtered_results = filtered_results.drop_duplicates()

# Optionally, you might want to select specific columns
filtered_results = filtered_results[['Medicine_Name_DB', 'Quantity_DB', 'Dosage_DB', 'Database_Rates']]

# Print or save the filtered data
print(filtered_results)
# Optionally save to a CSV
# filtered_results.to_csv('filtered_data.csv', index=False)

error: missing ), unterminated subpattern at position 28

In [45]:
import pandas as pd
import re
bills_data = bills_data.astype(str)
database_data = database_data.astype(str)

# Function to escape regex special characters in patterns
def escape_regex(pattern):
    return re.escape(pattern)

# Function to filter database_data based on a single row from bills_data using regex
def filter_database_with_regex(bills_row):
    medicine_pattern = f"^{escape_regex(bills_row['Medicine_Name_Bill'])}$"
    quantity_pattern = f"^{escape_regex(bills_row['Quantity_Bill'])}$"
    dosage_pattern = f"^{escape_regex(bills_row['Dosage_Bill'])}$"
    
    return database_data[
        database_data['Medicine_Name_DB'].str.match(medicine_pattern) &
        database_data['Quantity_DB'].str.match(quantity_pattern) &
        database_data['Dosage_DB'].str.match(dosage_pattern)
    ]

# Apply the filtering function to each row of bills_data
filtered_results = pd.concat([filter_database_with_regex(row) for _, row in bills_data.iterrows()])

# Drop duplicate rows in case of overlaps
filtered_results = filtered_results.drop_duplicates()

# Optionally, you might want to select specific columns
filtered_results = filtered_results[['Medicine_Name_DB', 'Quantity_DB', 'Dosage_DB', 'Database_Rates']]

# Print or save the filtered data
print(filtered_results)
# Optionally save to a CSV
# filtered_results.to_csv('filtered_data.csv', index=False)

Empty DataFrame
Columns: [Medicine_Name_DB, Quantity_DB, Dosage_DB, Database_Rates]
Index: []

In [57]:
print("Bills Data:")
print(bills_data.head())
print("Database Data:")
print(database_data.head())

Bills Data:
             Medicine_Name_Bill Quantity_Bill Dosage_Bill Bill_Rates
0               A TO Z NS SYRUP           nan         nan      190.0
1                     ABCIXIREL            10   Injection     8910.0
2                     ABCIXIREL            10   Injection     8910.0
3  ABD SPDNGE X-RAY DETECTION (           500         nan      180.0
4                    ACCUTAZ HS           500         nan      143.0
Database Data:
  Medicine_Name_DB Quantity_DB  Dosage_DB Database_Rates
0         Avastin        100.0  Injection          33863
1        Actorise         40.0  Injection         2928.2
2        Actorise         25.0  Injection           1815
3        Actorise         60.0  Injection           4235
4            Azel         80.0    Capsule           8700

In [58]:
# Ensure all relevant columns are treated as strings for regex matching
bills_data['Quantity_Bill'] = pd.to_numeric(bills_data['Quantity_Bill'], errors='coerce')
bills_data['Dosage_Bill'] = bills_data['Dosage_Bill'].fillna('')
bills_data['Medicine_Name_Bill'] = bills_data['Medicine_Name_Bill'].fillna('')

database_data['Quantity_DB'] = pd.to_numeric(database_data['Quantity_DB'], errors='coerce')
database_data['Dosage_DB'] = database_data['Dosage_DB'].fillna('')
database_data['Medicine_Name_DB'] = database_data['Medicine_Name_DB'].fillna('')

# Function to filter database_data based on a single row from bills_data
def filter_database_with_regex(bills_row):
    # Construct regex patterns with escaping
    medicine_pattern = f"^{re.escape(str(bills_row['Medicine_Name_Bill']))}$"
    quantity_pattern = f"^{re.escape(str(bills_row['Quantity_Bill']))}$"
    dosage_pattern = f"^{re.escape(str(bills_row['Dosage_Bill']))}$"
    
    # Filter using the patterns
    filtered = database_data[
        database_data['Medicine_Name_DB'].str.match(medicine_pattern) &
        database_data['Quantity_DB'].astype(str).str.match(quantity_pattern) &
        database_data['Dosage_DB'].str.match(dosage_pattern)
    ]
    
    return filtered

# Apply the filtering function to each row of bills_data
filtered_results = pd.concat([filter_database_with_regex(row) for _, row in bills_data.iterrows()])

# Drop duplicate rows in case of overlaps
filtered_results = filtered_results.drop_duplicates()

# Optionally, you might want to select specific columns
filtered_results = filtered_results[['Medicine_Name_DB', 'Quantity_DB', 'Dosage_DB', 'Database_Rates']]

# Print or save the filtered data
print("Final filtered results:")
print(filtered_results)

Final filtered results:
Empty DataFrame
Columns: [Medicine_Name_DB, Quantity_DB, Dosage_DB, Database_Rates]
Index: []

In [61]:
import pandas as pd
import numpy as np


# Convert columns to strings where necessary
bills_data['Quantity_Bill'] = bills_data['Quantity_Bill'].fillna('0').astype(str)
bills_data['Dosage_Bill'] = bills_data['Dosage_Bill'].fillna('').astype(str)
bills_data['Medicine_Name_Bill'] = bills_data['Medicine_Name_Bill'].fillna('').astype(str)

database_data['Quantity_DB'] = database_data['Quantity_DB'].astype(str)
database_data['Dosage_DB'] = database_data['Dosage_DB'].astype(str)
database_data['Medicine_Name_DB'] = database_data['Medicine_Name_DB'].astype(str)

print("Cleaned Bills Data:")
print(bills_data)
print("Cleaned Database Data:")
print(database_data)

Cleaned Bills Data:
                Medicine_Name_Bill Quantity_Bill Dosage_Bill Bill_Rates
0                  A TO Z NS SYRUP             0         nan      190.0
1                        ABCIXIREL          10.0   Injection     8910.0
2                        ABCIXIREL          10.0   Injection     8910.0
3     ABD SPDNGE X-RAY DETECTION (         500.0         nan      180.0
4                       ACCUTAZ HS         500.0         nan      143.0
...                            ...           ...         ...        ...
1273                           nan             0         nan        nan
1274                           nan             0   Injection        nan
1275                           nan             0   Injection        nan
1276                           nan             0   Injection        nan
1277                           nan             0   Injection        nan

[1278 rows x 4 columns]
Cleaned Database Data:
       Medicine_Name_DB Quantity_DB  Dosage_DB Database_Rates
0              Avastin        100.0  Injection          33863
1             Actorise         40.0  Injection         2928.2
2             Actorise         25.0  Injection           1815
3             Actorise         60.0  Injection           4235
4                 Azel         80.0    Capsule           8700
...                 ...         ...        ...            ...
187040           Zopen         40.0     Tablet             54
187041       Zenprega D         3.0     Tablet            302
187042       Zonpaar D         30.0    Capsule             99
187043            Zeof          0.3        nan             20
187044           Zedem         10.0     Tablet             78

[187045 rows x 4 columns]

In [63]:
# Function to filter database_data based on exact match
def filter_database_exact(bills_row):
    return database_data[
        (database_data['Medicine_Name_DB'] == bills_row['Medicine_Name_Bill']) &
        (database_data['Quantity_DB'] == bills_row['Quantity_Bill']) &
        (database_data['Dosage_DB'] == bills_row['Dosage_Bill'])
    ]

# Apply the filtering function to each row of bills_data
filtered_results = pd.concat([filter_database_exact(row) for _, row in bills_data.iterrows()])

# Drop duplicate rows in case of overlaps
filtered_results = filtered_results.drop_duplicates()

# Optionally, you might want to select specific columns
filtered_results = filtered_results[['Medicine_Name_DB', 'Quantity_DB', 'Dosage_DB', 'Database_Rates']]

# Print or save the filtered data
print("Final filtered results:")
print(filtered_results)

Final filtered results:
Empty DataFrame
Columns: [Medicine_Name_DB, Quantity_DB, Dosage_DB, Database_Rates]
Index: []

In [64]:
import pandas as pd
import numpy as np


# Convert columns to strings where necessary
bills_data['Quantity_Bill'] = bills_data['Quantity_Bill'].fillna('0').astype(str)
bills_data['Dosage_Bill'] = bills_data['Dosage_Bill'].fillna('').astype(str)
bills_data['Medicine_Name_Bill'] = bills_data['Medicine_Name_Bill'].fillna('').astype(str)

database_data['Quantity_DB'] = database_data['Quantity_DB'].astype(str)
database_data['Dosage_DB'] = database_data['Dosage_DB'].astype(str)
database_data['Medicine_Name_DB'] = database_data['Medicine_Name_DB'].astype(str)

# Print DataFrames to check for discrepancies
print("Cleaned Bills Data:")
print(bills_data)
print("Cleaned Database Data:")
print(database_data)

Cleaned Bills Data:
                Medicine_Name_Bill Quantity_Bill Dosage_Bill Bill_Rates
0                  A TO Z NS SYRUP             0         nan      190.0
1                        ABCIXIREL          10.0   Injection     8910.0
2                        ABCIXIREL          10.0   Injection     8910.0
3     ABD SPDNGE X-RAY DETECTION (         500.0         nan      180.0
4                       ACCUTAZ HS         500.0         nan      143.0
...                            ...           ...         ...        ...
1273                           nan             0         nan        nan
1274                           nan             0   Injection        nan
1275                           nan             0   Injection        nan
1276                           nan             0   Injection        nan
1277                           nan             0   Injection        nan

[1278 rows x 4 columns]
Cleaned Database Data:
       Medicine_Name_DB Quantity_DB  Dosage_DB Database_Rates
0              Avastin        100.0  Injection          33863
1             Actorise         40.0  Injection         2928.2
2             Actorise         25.0  Injection           1815
3             Actorise         60.0  Injection           4235
4                 Azel         80.0    Capsule           8700
...                 ...         ...        ...            ...
187040           Zopen         40.0     Tablet             54
187041       Zenprega D         3.0     Tablet            302
187042       Zonpaar D         30.0    Capsule             99
187043            Zeof          0.3        nan             20
187044           Zedem         10.0     Tablet             78

[187045 rows x 4 columns]

In [65]:
# Example of manual check
bills_row = bills_data.iloc[0]  # Take the first row for testing
print(f"Testing row: {bills_row}")
filtered = database_data[
    (database_data['Medicine_Name_DB'] == bills_row['Medicine_Name_Bill']) &
    (database_data['Quantity_DB'] == bills_row['Quantity_Bill']) &
    (database_data['Dosage_DB'] == bills_row['Dosage_Bill'])
]
print(f"Filtered result:\n{filtered}")

Testing row: Medicine_Name_Bill    A TO Z NS SYRUP
Quantity_Bill                       0
Dosage_Bill                       nan
Bill_Rates                      190.0
Name: 0, dtype: object
Filtered result:
Empty DataFrame
Columns: [Medicine_Name_DB, Quantity_DB, Dosage_DB, Database_Rates]
Index: []

In [67]:
# Convert columns to strings where necessary and handle NaN values
bills_data['Quantity_Bill'] = bills_data['Quantity_Bill'].fillna('0').astype(str)
bills_data['Dosage_Bill'] = bills_data['Dosage_Bill'].fillna('').astype(str)
bills_data['Medicine_Name_Bill'] = bills_data['Medicine_Name_Bill'].fillna('').astype(str)

database_data['Quantity_DB'] = database_data['Quantity_DB'].astype(str)
database_data['Dosage_DB'] = database_data['Dosage_DB'].astype(str)
database_data['Medicine_Name_DB'] = database_data['Medicine_Name_DB'].astype(str)

print("Cleaned Bills Data:")
print(bills_data)
print("Cleaned Database Data:")
print(database_data)

Cleaned Bills Data:
                Medicine_Name_Bill Quantity_Bill Dosage_Bill Bill_Rates
0                  A TO Z NS SYRUP             0         nan      190.0
1                        ABCIXIREL          10.0   Injection     8910.0
2                        ABCIXIREL          10.0   Injection     8910.0
3     ABD SPDNGE X-RAY DETECTION (         500.0         nan      180.0
4                       ACCUTAZ HS         500.0         nan      143.0
...                            ...           ...         ...        ...
1273                           nan             0         nan        nan
1274                           nan             0   Injection        nan
1275                           nan             0   Injection        nan
1276                           nan             0   Injection        nan
1277                           nan             0   Injection        nan

[1278 rows x 4 columns]
Cleaned Database Data:
       Medicine_Name_DB Quantity_DB  Dosage_DB Database_Rates
0              Avastin        100.0  Injection          33863
1             Actorise         40.0  Injection         2928.2
2             Actorise         25.0  Injection           1815
3             Actorise         60.0  Injection           4235
4                 Azel         80.0    Capsule           8700
...                 ...         ...        ...            ...
187040           Zopen         40.0     Tablet             54
187041       Zenprega D         3.0     Tablet            302
187042       Zonpaar D         30.0    Capsule             99
187043            Zeof          0.3        nan             20
187044           Zedem         10.0     Tablet             78

[187045 rows x 4 columns]

In [68]:
# Function to filter database_data based on exact match
def filter_database_exact(bills_row):
    # Handle NaN values by converting to empty strings for comparison
    dosage_bill = bills_row['Dosage_Bill'] if bills_row['Dosage_Bill'] != 'nan' else ''
    return database_data[
        (database_data['Medicine_Name_DB'] == bills_row['Medicine_Name_Bill']) &
        (database_data['Quantity_DB'] == bills_row['Quantity_Bill']) &
        (database_data['Dosage_DB'] == dosage_bill)
    ]

# Apply the filtering function to each row of bills_data
filtered_results = pd.concat([filter_database_exact(row) for _, row in bills_data.iterrows()])

# Drop duplicate rows in case of overlaps
filtered_results = filtered_results.drop_duplicates()

# Optionally, you might want to select specific columns
filtered_results = filtered_results[['Medicine_Name_DB', 'Quantity_DB', 'Dosage_DB', 'Database_Rates']]

# Print or save the filtered data
print("Final filtered results:")
print(filtered_results)

Final filtered results:
Empty DataFrame
Columns: [Medicine_Name_DB, Quantity_DB, Dosage_DB, Database_Rates]
Index: []

In [73]:
database_data.head(50)

,Medicine_Name_DB,Quantity_DB,Dosage_DB,Database_Rates
0,Avastin,100.0,Injection,33863
1,Actorise,40.0,Injection,2928.2
2,Actorise,25.0,Injection,1815
3,Actorise,60.0,Injection,4235
4,Azel,80.0,Capsule,8700
5,Avastin,400.0,Injection,123506
6,Anovate Cream,nan,nan,147.6
7,Allegra,180.0,Tablet,275.11
8,Asthalin Syrup,nan,nan,20.16
9,Asthakind-DX Syrup Sugar Free,nan,nan,77.44
10,Alprax,0.25,Tablet,35
11,Amlokind-AT Tablet,nan,Tablet,53.95
12,Aldactone Tablet,nan,Tablet,36.6
13,Altraday Capsule SR,nan,Capsule,140
14,Althrocin,500.0,Tablet,120.8
15,Ativan,2.0,Tablet,94.25
16,Ambrodil-S Syrup,nan,nan,36.15
17,Aricep,10.0,Tablet,195
18,Aricep-M Tablet,nan,Tablet,159
19,Asthalin,100.0,nan,176.98
20,Axcer,90.0,Tablet,480
21,Aldigesic P,100.0,Tablet,110
22,Atarax Syrup,nan,nan,133.25
23,AB-Flo-N Tablet,nan,Tablet,243.85
24,Asthakind Expectorant Sugar Free,nan,nan,77.7
25,Augmentin DDS Suspension,nan,nan,190.25
26,Alex Cough Lozenges Lemon Ginger,nan,nan,118
27,Aceclo Plus Tablet,nan,Tablet,99.45
28,Aciloc RD,20.0,Tablet,84.3
29,Arachitol,6.0,Injection,493.32
30,"Autrin Hematinic Capsule with Cyanocobalamin, ...",nan,Capsule,181
31,AB Phylline N Tablet,nan,Tablet,229
32,Atarax,10.0,Tablet,57.75
33,Aldigesic-SP Tablet,nan,Tablet,120
34,Anobliss Cream,nan,nan,149.66
35,Ascoril LS Junior Syrup,nan,nan,97
36,Ascoril LS Drops,nan,nan,78.5
37,Azithral,200.0,nan,57.12
38,Anafortan,25.0,Tablet,91.1
39,AF Kit Tablet,nan,Tablet,115
40,Aziderm,20.0,nan,339
41,Alfoo,10.0,Tablet,832
42,Alprax,0.0,Tablet,73.5
43,Amlokind,5.0,Tablet,24.83
44,Amoxycillin,500.0,Capsule,31.9
45,Aziderm,10.0,nan,324
46,Azicip,500.0,Tablet,79.16
47,Allegra Suspension Raspberry & Vanilla,nan,nan,228.41
48,Akurit,4.0,Tablet,99.8
49,AB Phylline SR,200.0,Tablet,276

In [75]:
bills_data.head(50)

              Medicine_Name_Bill Quantity_Bill Dosage_Bill Bill_Rates
0                A TO Z NS SYRUP             0         nan      190.0
1                      ABCIXIREL          10.0   Injection     8910.0
2                      ABCIXIREL          10.0   Injection     8910.0
3   ABD SPDNGE X-RAY DETECTION (         500.0         nan      180.0
4                     ACCUTAZ HS         500.0         nan      143.0
5                     ACCUTAZ HS         500.0         nan      143.0
6                     ACCUTAZ HS         500.0         nan      143.0
7                     ACCUTAZ HS           1.0         nan      143.0
8                        ACCUZON           1.0         nan      69.86
9                        ACCUZON           1.0         nan      69.86
10                       ACCUZON             0         nan      69.86
11                   ACECLO PLUS           1.0   Injection       6.63
12                    ADRENALINE         100.0         nan      13.65
13                      AEQUIMOL         100.0         nan      684.3
14                      AEQUIMOL          20.0   Injection      684.3
15                      AEQUIMOL          20.0   Injection      684.3
16                      AEQUIMOL          20.0   Injection      684.3
17                      AEQUIMOL         100.0   Injection      684.3
18                      AGGRAMED          25.0      Tablet     9036.7
19                     ALDACTONE          25.0      Tablet       36.6
20                     ALDACTONE             0         nan       36.6
21                     ALEX SYP.          0.25      Tablet      129.0
22                        ALPRAX          0.25         nan       2.33
23                        ALPRAX          0.25      Tablet       2.28
24                        Alprax          0.25      Tablet       35.0
25                        ALPRAX          0.25      Tablet       2.33
26                        ALPRAX          0.25      Tablet       2.33
27                        ALPRAX           0.5      Tablet       2.33
28                       ALZOLAM         500.0         nan        0.0
29                      AMIKACIN         250.0   Injection     112.58
30                      AMIKAMAC         250.0   Injection       55.5
31                      AMIKAMAC         250.0   Injection       55.5
32                      AMIKAMAC         500.0   Injection       55.5
33                      AMIKAMAC           2.5      Tablet     113.75
34                      AMLOPRES          0.25   Injection        2.0
35                      ANAWIN .         0.252         nan      61.98
36                        ANAWIN         0.252         nan        0.0
37                        ANAWIN         0.252         nan       63.1
38                        ANAWIN         0.252         nan       63.1
39                        ANAWIN         0.252         nan       63.1
40                        ANAWIN          0.52   Injection       63.1
41                        ANAWIN          0.52   Injection       98.5
42                        ANAWIN           5.0   Injection       98.5
43                  ANAWIN HEAVY             0         nan       33.0
44  AP POPULAR TOOTHBRUSH ##(HSN          40.0   Injection       22.0
45                       APRILIA          40.0   Injection      53.68
46                       APRILIA          40.0   Injection      53.68
47                       APRILIA          40.0   Injection      53.68
48                       APRILIA          40.0   Injection      53.68
49                       APRILIA          40.0   Injection      53.68

In [76]:
# Convert columns to string where necessary and handle NaN values
bills_data['Quantity_Bill'] = bills_data['Quantity_Bill'].fillna('0').astype(str)
bills_data['Dosage_Bill'] = bills_data['Dosage_Bill'].fillna('').astype(str)
bills_data['Medicine_Name_Bill'] = bills_data['Medicine_Name_Bill'].fillna('').astype(str)

database_data['Quantity_DB'] = database_data['Quantity_DB'].fillna('0').astype(str)
database_data['Dosage_DB'] = database_data['Dosage_DB'].fillna('').astype(str)
database_data['Medicine_Name_DB'] = database_data['Medicine_Name_DB'].fillna('').astype(str)

# Remove leading/trailing whitespace
bills_data['Medicine_Name_Bill'] = bills_data['Medicine_Name_Bill'].str.strip()
bills_data['Dosage_Bill'] = bills_data['Dosage_Bill'].str.strip()
database_data['Medicine_Name_DB'] = database_data['Medicine_Name_DB'].str.strip()
database_data['Dosage_DB'] = database_data['Dosage_DB'].str.strip()

# Function to filter database_data based on exact match
def filter_database_exact(bills_row):
    return database_data[
        (database_data['Medicine_Name_DB'] == bills_row['Medicine_Name_Bill']) &
        (database_data['Quantity_DB'] == bills_row['Quantity_Bill']) &
        (database_data['Dosage_DB'] == bills_row['Dosage_Bill'])
    ]

# Apply the filtering function to each row of bills_data
filtered_results = pd.concat([filter_database_exact(row) for _, row in bills_data.iterrows()])

# Drop duplicate rows in case of overlaps
filtered_results = filtered_results.drop_duplicates()

# Optionally, you might want to select specific columns
filtered_results = filtered_results[['Medicine_Name_DB', 'Quantity_DB', 'Dosage_DB', 'Database_Rates']]

# Print or save the filtered data
print("Final filtered results:")
print(filtered_results)

Final filtered results:
       Medicine_Name_DB Quantity_DB Dosage_DB Database_Rates
10               Alprax        0.25    Tablet             35
20079             Cetil       500.0    Tablet            576
107791               NS      1000.0       nan           51.3

In [77]:
filtered_results

       Medicine_Name_DB Quantity_DB Dosage_DB Database_Rates
10               Alprax        0.25    Tablet             35
20079             Cetil       500.0    Tablet            576
107791               NS      1000.0       nan           51.3

In [80]:
database_data.iloc[10:11,]

   Medicine_Name_DB Quantity_DB Dosage_DB Database_Rates
10           Alprax        0.25    Tablet             35

In [81]:
bills_data.iloc[10:11,:]

   Medicine_Name_Bill Quantity_Bill Dosage_Bill Bill_Rates
10            ACCUZON             0         nan      69.86

In [91]:
bills_data['Medicine_Name_Bill'].str.lower()

0                    a to z ns syrup
1                          abcixirel
2                          abcixirel
3       abd spdnge x-ray detection (
4                         accutaz hs
                    ...
1273                             nan
1274                             nan
1275                             nan
1276                             nan
1277                             nan
Name: Medicine_Name_Bill, Length: 1278, dtype: object

In [92]:
bills_data['Medicine_Name_Bill'].str.title()

0                    A To Z Ns Syrup
1                          Abcixirel
2                          Abcixirel
3       Abd Spdnge X-Ray Detection (
4                         Accutaz Hs
                    ...
1273                             Nan
1274                             Nan
1275                             Nan
1276                             Nan
1277                             Nan
Name: Medicine_Name_Bill, Length: 1278, dtype: object

In [93]:
bills_data['Medicine_Name_Bill'] = bills_data['Medicine_Name_Bill'].str.title()

In [94]:
bills_data

                Medicine_Name_Bill Quantity_Bill Dosage_Bill Bill_Rates
0                  A To Z Ns Syrup             0         nan      190.0
1                        Abcixirel          10.0   Injection     8910.0
2                        Abcixirel          10.0   Injection     8910.0
3     Abd Spdnge X-Ray Detection (         500.0         nan      180.0
4                       Accutaz Hs         500.0         nan      143.0
...                            ...           ...         ...        ...
1273                           Nan             0         nan        nan
1274                           Nan             0   Injection        nan
1275                           Nan             0   Injection        nan
1276                           Nan             0   Injection        nan
1277                           Nan             0   Injection        nan

[1278 rows x 4 columns]

In [95]:
# Convert columns to string where necessary and handle NaN values
bills_data['Quantity_Bill'] = bills_data['Quantity_Bill'].fillna('0').astype(str)
bills_data['Dosage_Bill'] = bills_data['Dosage_Bill'].fillna('').astype(str)
bills_data['Medicine_Name_Bill'] = bills_data['Medicine_Name_Bill'].fillna('').astype(str)

database_data['Quantity_DB'] = database_data['Quantity_DB'].fillna('0').astype(str)
database_data['Dosage_DB'] = database_data['Dosage_DB'].fillna('').astype(str)
database_data['Medicine_Name_DB'] = database_data['Medicine_Name_DB'].fillna('').astype(str)

# Remove leading/trailing whitespace
bills_data['Medicine_Name_Bill'] = bills_data['Medicine_Name_Bill'].str.strip()
bills_data['Dosage_Bill'] = bills_data['Dosage_Bill'].str.strip()
database_data['Medicine_Name_DB'] = database_data['Medicine_Name_DB'].str.strip()
database_data['Dosage_DB'] = database_data['Dosage_DB'].str.strip()

# Function to filter database_data based on exact match
def filter_database_exact(bills_row):
    return database_data[
        (database_data['Medicine_Name_DB'] == bills_row['Medicine_Name_Bill']) &
        (database_data['Quantity_DB'] == bills_row['Quantity_Bill']) &
        (database_data['Dosage_DB'] == bills_row['Dosage_Bill'])
    ]

# Apply the filtering function to each row of bills_data
filtered_results = pd.concat([filter_database_exact(row) for _, row in bills_data.iterrows()])

# Drop duplicate rows in case of overlaps
filtered_results = filtered_results.drop_duplicates()

# Optionally, you might want to select specific columns
filtered_results = filtered_results[['Medicine_Name_DB', 'Quantity_DB', 'Dosage_DB', 'Database_Rates']]

# Print or save the filtered data
print("Final filtered results:")
print(filtered_results)

Final filtered results:
       Medicine_Name_DB Quantity_DB  Dosage_DB Database_Rates
2735          Abcixirel        10.0  Injection           8100
10               Alprax        0.25     Tablet             35
1457           Amikacin       250.0  Injection           38.7
4746           Amikamac       250.0  Injection           55.5
2207           Amikamac       500.0  Injection         113.73
3742            Aprilia        40.0  Injection             49
1447             Atocor        80.0     Tablet          577.4
471             Atorlip        20.0     Tablet            211
85               Atorva        20.0     Tablet            211
20                Axcer        90.0     Tablet            480
314               Axcer        90.0     Tablet           3771
1514              Axcer        90.0     Tablet           1260
9984           Brilinta        90.0     Tablet            538
10129          Brilinta        90.0     Tablet           5476
11218          Brilinta        90.0     Tablet            420
9973           Budecort         0.5        nan         133.25
19981            Ceftum       500.0     Tablet         230.41
20079             Cetil       500.0     Tablet            576
19982           Cilacar        10.0     Tablet         212.91
30498            Dexona         8.0  Injection          12.97
29999              Dolo       650.0     Tablet          33.76
30000            Duolin         3.0        nan          124.7
30742            Duolin         3.0        nan          22.68
30027             Dytor         5.0     Tablet          71.73
30699             Dytor         5.0     Tablet             37
34186          Ecosprin       150.0     Tablet          10.97
34177          Ecosprin        75.0     Tablet           5.49
34189            Emeset         4.0     Tablet          57.56
34512            Emeset         4.0     Tablet          57.45
34204             Eptus        25.0     Tablet            602
35012            Exafib        10.0     Tablet          674.7
40716            Exafib        10.0     Tablet            440
34206            Ezedoc        10.0     Tablet         208.75
44300           Feburic        20.0     Tablet          164.5
49815          Flusodex        45.0        nan         120.79
44180           Forxiga        10.0     Tablet            508
55712           Gerzone      1000.0  Injection         232.89
86540             Lasix        40.0  Injection          13.39
96368           Monocef       250.0  Injection          31.74
126605           Pansec        40.0  Injection           56.5
138498         Supridol       100.0        nan            113

In [97]:
filtered_results.describe()

       Medicine_Name_DB Quantity_DB Dosage_DB Database_Rates
count                41          41        41             41
unique               31          20         3             40
top            Brilinta        10.0    Tablet            211
freq                  3           6        26              2